@import url('../css/awesome.css');
@import url('../css/pricing.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/header.css');
@import url('../css/social.css');
@import url('../css/footer.css');

html {
  font-family: 'Raleway', 'Open Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  padding: 80px 0;
  /*max-width: 1700px;*/
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 15px 0;
  position: relative;
  z-index: 1;
}
