.customers-section {
  background-color: #ffffff;
}
.block-title-customers {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  text-align: center;
}

.title-customers {
  font-family: Raleway;
  font-weight: 400;
  font-size: 2.25rem;
  font-style: normal;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 34px;
  text-align: center;
}

.title-customers::after {
  content: '';
  width: 64px;
  height: 2px;
  background-color: #e72424;
  display: block;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 34px;
}

.customers-discription {
  margin: 0 auto 67px;
}

.customers-discription-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.1875rem;
  color: #86878b;
}

.customers-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.customers-row-item {
  margin: 0 15px;
  display: flex;
  flex-flow: column nowrap;
}

.customers-row-item_description {
  background: #e2e2e2;
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  margin: 0 auto 22px;
  position: relative;
  padding: 9px 22px 6px 23px;
}

.customers-row-item_description::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #e2e2e2;
  position: absolute;
  left: 39px;
  right: 234px;
  top: 100%;
}

.customers-row-item_text {
  font-family: Open Sans;
  font-weight: 400px;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1.1875rem;
  color: #86878b;
}

.customers-row-item-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.customers-row-item-img-avatar img {
  /* margin: 22px 0; */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-row-item-img_description {
}

.customers-row-item_name {
  /* width: 97px;
  height: 27px;
  left: 317px;
  top: 418px; */
  font-family: Open Sans;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  color: #333333;
}

.customers-row-item_position {
  text-align: right;
  color: rgba(134, 135, 139, 1);
}
