.first-screen-section {
  width: 100%;
  height: 100%;
  padding: 108px 0 101px;
  background-image: url('/img/background-first-screen.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
.first-screen-section::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.first-screen-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.first-screen-textzone {
  max-width: 544px;
  /* margin-right: 265px; */
}

.first-screen-logo-text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 3.75rem;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 32px;
}

.first-screen-logo-text::after {
  content: 'IT';
  text-transform: uppercase;
  color: #e72424;
}

.first-screen-title-text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 32px;
}

.first-screen-title-text::after {
  content: '';
  width: 64px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  text-align: start;
  margin-top: 32px;
  margin-bottom: 39px;
}

.first-screen-description-text {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.173rem;
  font-style: normal;
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
  text-align: start;
  margin-bottom: 39px;
}

.first-screen-button {
  width: 135px;
  height: 42px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}

/* .first-screen-form {
  max-width: 370px;
  display: flex;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 59px 61px 59px;
} */

.first-screen-form-content {
  max-width: 370px;
  background: #ffffff;
  border-radius: 8px 8px 0 0;
  display: flex;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 59px 61px 59px;
}

.first-screen-form-title {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.708rem;
  font-style: normal;
  color: #333333;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 64px;
}

.first-screen-form-title span {
  color: #e72424;
}

.first-screen-form-item {
  display: block;
  width: 100%;
}

.first-screen-item-label {
  display: block;
  margin-bottom: 16px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.192rem;
  font-style: normal;
  color: #bdbdbd;
  text-transform: capitalize;
}

.first-screen-item-input {
  display: block;
  border: 1px solid transparent;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  margin-bottom: 19px;
}

.form-button {
  display: block;
  width: 100%;
  background: #ec7979;
  border-radius: 0px 0px 8px 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-button-title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.277rem;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.2s;
}

.form-button-title:hover {
  text-shadow: 3px -3px 4px rgb(1, 17, 9);
  transform: scale(1.3);
}

@media (max-width: 882px) {
  .first-screen-textzone {
    margin-bottom: 20px;
  }

  .first-screen-row {
    margin: auto;
    text-align: center;
  }

  /* .first-screen-row {
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
  }
} */
