.title-awesome {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #212121;
  font-family: Raleway, italic;
  text-transform: uppercase;
}
.line {
  width: 64px;
  border-top: 2px solid rgb(255, 51, 0);
  margin: 30px auto;
}

.discription {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 67px;
}

h6 {
  font-family: open sans;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
}
.awesome-row {
  display: flex;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}

.awesome-row-item {
  max-width: 350px;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.awesome-row-item-img {
  width: 70px;
  height: 70px;
  margin: auto;
  border: 2px solid #d98943;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome-description-item {
  font-family: open sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.awesome-text {
  font-family: open sans;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  width: auto;
  height: auto;
  margin: 16px 16px;
}
