@import url('../css/awesome.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  padding: 80px 0;
  /*max-width: 1700px;*/
  width: 100%;
  background-color: white;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0px 143px;
}
